<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/category.css">

    <title>
        <%= category %> - EventMaster
    </title>
</head>

<body class="background-container">
    <%- include('partials/navbar') %>

    <!-- <div class="blank-space-20px" style="height: 20px;"></div>
    <div class="blank-space-20px" style="height: 20px;"></div> -->

    <h1 class="home-heading" style="color: white; text-align: center;">
        <%= category %>
    </h1>

    <div class="cards-container">
        <% cards.forEach(function(card) { %>
            <div class="category-card">
                <img src="<%= card.image %>" alt="<%= card.title %>">
                <p>
                    <%= card.title %>
                </p>
            </div>
            <% }); %>
    </div>
    <%- include('partials/footer') %>

    <script>
        document.querySelectorAll('.category-card').forEach(card => {
            card.addEventListener('click', () => {
                window.location.href = `/event?title=${encodeURIComponent(card.querySelector('p').textContent)}`;
            });
        });
    </script>
</body>

</html>