<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>
        <%= category %> - EventMaster
    </title>
</head>

<body class="background-container">
    <%- include('partials/navbar') %>

    <div class="blank-space-20px" style="height: 20px;"></div>
    <div class="blank-space-20px" style="height: 20px;"></div>

    <h1 class="home-heading">
        <%= category %>
    </h1>

    <div class="cards-container">
        <% cards.forEach(function(card) { %>
            <div class="category-card">
                <img src="<%= card.image %>" alt="<%= card.title %>">
                <p>
                    <%= card.title %>
                </p>
            </div>
            <% }); %>
    </div>
</body>

</html>